[include mainsail.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

# X Axis
[stepper_x]
step_pin: PF0
dir_pin: !PF1
enable_pin: !PD7
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PE5
position_endstop: 0
position_max: 210
homing_speed: 50

# Y Axis
[stepper_y]
step_pin: PF6
dir_pin: PF7
enable_pin: !PF2
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PL7
position_endstop: 0
position_max: 210
homing_speed: 50

[stepper_z]
step_pin = PL3
## "" for stock and TMC2208 with reversed plugs
dir_pin = PL1
#dir_pin = !PL1
enable_pin = !PK0
rotation_distance = 8
Full_Steps_Per_Rotation = 200
Microsteps = 16
## uncomment below for 3dtouch. comment for mannual mesh bed leveling
#endstop_pin = probe:z_virtual_endstop
## comment 2 lines below for 3dtouch bed leveling and to disable Z limit switches
endstop_pin = ^!PD3
position_endstop = 0.0
position_max = 210
position_min = -5
homing_speed = 10
homing_retract_dist = 5
second_homing_speed = 3


[stepper_z1]
step_pin = PC1
## "" for stock and TMC2208 with reversed plugs
dir_pin = PC3
#dir_pin = !PC3
## comment below for 3dtouch bed leveling and to disable Z limit switches
endstop_pin = ^!PL6
enable_pin = !PC7
#step_distance = .0025
rotation_distance = 8
Full_Steps_Per_Rotation = 200
Microsteps = 16

# Extruder
[extruder]
step_pin: PA4
dir_pin: PA6
enable_pin: !PA2
microsteps: 16
rotation_distance: 33.5   # потом откалибруем
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: PB4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK5
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 260

# Bed
[heater_bed]
heater_pin: PH5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK6
control: pid
pid_Kp: 70
pid_Ki: 1.3
pid_Kd: 900
min_temp: 0
max_temp: 110

# Fan
[fan]
pin: PH6

# Virtual SD
[virtual_sdcard]
path: /home/mozgoff/printer_data/gcodes

# Display (можно потом)